.profile__profession {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 328px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*--------------MEDIA----------------*/
@media (max-width: 767px) {
  .profile__profession {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}

@media (max-width: 779px) {
  .profile__profession {
    text-align: center;
  }
}
