.header__logo {
  display: block;
  width: 142px;
  height: 33px;
  margin: 45px 0 77px;
  box-sizing: border-box;
  background: url(../../../images/svg/logo.svg) no-repeat;
  background-size: 142px 33px;
}

/*--------------MEDIA----------------*/
/* меньше 918 */
@media (max-width: 917px) {
  .header__logo {
    margin: 28px 27px 60px;
    width: 104px;
    height: 25px;
    background-size: 104px 25px;
  }
}
