.profile__add-button {
  display: block;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background: url(../../../images/plus.png) center no-repeat;
  background-size: 22px 22px;
  /*margin: 13px 0 0 244px;*/
}

.profile__add-button:hover {
  opacity: 0.6;
}

/*--------------MEDIA----------------*/
@media (max-width: 767px) {
  .profile__add-button {
    margin: 13px 0 0 0;
    width: 282px;
  }
}
