.popup__submit {
  text-decoration: none;
  display: block;
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #000;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 779px) {
  .popup__submit {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
