.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  background: url(../../../images/svg/close.svg) center no-repeat;
  background-size: 32px 32px;
  display: block;
  width: 32px;
  height: 32px;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 779px) {
  .popup__close {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}
