.elements__like {
  display: block;
  width: 22px;
  min-width: 22px;
  height: 19px;
  background: url(../../../images/svg/like.svg) center no-repeat;
  background-size: 22px 19px;
  align-self: center;
}

.elements__like:hover {
  background: url(../../../images/svg/like-hover.svg) center no-repeat;
}

.elements__like:active {
  background: url(../../../images/svg/like-active.svg) center no-repeat;
}
